@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:not(svg, img, picture):empty {
	display: none;
}

:root {
	--default-text: 'Roboto', sans-serif;
	--h1: 2rem;
	--h2: 1.5rem;
	--h3: 1rem;
	--p: 1rem;
	--color-grey: #61646E;
	--color-black: #000000;
	--border-color: #e3e3e3;
	--color-white: #FFFFFF;
	--parallax-color:  --color: rgb(63 63 63);
}

html, body {
	height: 100%;
	width: 100%;
	min-width: 280px;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--default-text);
}

picture,
img {
	width: 100%;
	height: auto;
}

.container, 
.content {
	min-height: 100vh;
	width: 90%;
	display: grid;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}

a {
	text-decoration: none;
	color: var(--color-white);
}

ul {
	list-style: none;
	opacity: 80%;
}

.btn {
	background-color: var(--color-black);
	padding: 0.5rem 1rem;
	border: 0.0625rem solid var(--border-color);
}

.btn.btn-square {
	background-color: var(--color-grey);
	border: 0.0625rem solid var(--border-color);
}

.btn.btn.btn-round {
	background-color: var(--color-black);
	transition: 250ms;
	border-radius: 0.625rem;
}

.btn.btn-round:hover {
	border-radius: 0;
}

section.mosaic {
	padding: 10% 5%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	row-gap: 2rem;
}

.box {
	opacity: 0;
	transition: 250ms;
}

.box.lazy-load {
	opacity: 1;
}

.parallax-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-attachment: fixed;
	background-image: url('../img/parallax.jpg');

	background-position: center;
	background-size: cover;
	color: var(--parallax-color);
}

.logo > picture > img {
	height: 2rem;
}

header {
	position: fixed;
	overflow: hidden;
	width: 100vw;
}

header, 
footer {
	background-color: var(--color-black);
	color: var(--color-white);
	padding: 0.8rem 0;
}

nav {
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	padding: 0 2%;
}

h1, h3 {
	color: var(--color-white);
	font-family: "Poppins", sans-serif;
	font-weight: 900;
}

h1 {
	font-size: 2.5rem;
}

.box img, 
.post {
	box-shadow: 0 29px 38px -15px rgb(0 0 0 / 43%);
}
.post {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 0.5rem;
	background-color: var(--color-white);
	padding: 1rem;
}

.box img {
	width: 100%;
	border-radius: 0.3em;
	background-position: center;
	background-size: cover;
	border: 1rem solid var(--color-white);
}

.blog-posts .container * {
	margin-bottom: 1rem;
}

footer {
	display: flex;
	flex-flow: column;
	align-content: center;
	align-items: center;
	justify-content: center;
}


@media(min-width: 640px) {
	.container, 
	section.mosaic {
		grid-template-columns: repeat(2, 50%);
		column-gap: 2rem;
	}

	h1 {
		font-size: 3rem;
	}
}


@media(min-width: 1024px) {
	.container,
	section.mosaic {
		grid-template-columns: repeat(3, 30%);
	}
}